[m-mask] {
  display: none;
}
pre code {
  background: #FAFAFA;
  font-family: "Inconsolata";
  position: relative;
  min-width: 600px;
  font-size: 1.5rem;
}
pre code::after {
  content: attr(lang);
  font-size: 1.5rem;
  color: #CFCFCF;
  position: absolute;
  top: 5px;
  right: 10px;
}
.tag {
  color: #00B5E5;
}
.special {
  color: #AC2EC5;
}
.string {
  color: #02C1A7;
}
